body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #cccccc;
}
#root {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.App {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
}
.container {
  border: 1px solid #071d49;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px #071d49;
  min-width: 520px;
}
.inputTodo {
  width: 72%;
  padding: 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  outline: none;
}
.btn {
  padding: 15px 16px;
  font-size: 18px;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #071d49;
  color: #ffffff;
}
.todoWrapper {
  border-radius: 5px;
  font-size: 20px;
  background: #fff;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.todoWrapper input[type="checkbox"] {
  width: 23px;
  height: 23px;
  margin: 0 10px;
  cursor: pointer;
}
.todoWrapper label {
  padding: 15px 0;
  width: 77%;
  cursor: pointer;
  word-break: break-word;
}
input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
}
.listContainer {
  height: 50vh;
  overflow: scroll;
  position: relative;
}
.editInputDiv {
  width: 100%;
  margin: 10px 0;
  background: #fff;
  border-radius: 5px;
}
.editInput {
  width: 80%;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
